---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bautista Suarez">
	<main>
		{/* Encabezado */}
		<header>
			<h1>Bautista Suarez</h1>
			<p>Backend Developer & Data Analyst</p>
		</header>

		{/* Resumen Personal */}
		<section id="about">
			<h2>Sobre Mí</h2>
			<p>
				Soy un desarrollador backend y analista de datos con 26 años de
				experiencia en tecnologías como Golang, Python y Typescript. Me
				apasiona analizar datos y crear soluciones eficientes para
				problemas complejos.
			</p>
		</section>

		{/* Habilidades */}
		<section id="skills">
			<h2>Habilidades</h2>
			<ul>
				<li>Lenguajes: Golang | Python | Typescript</li>
				<li>Herramientas: Pandas | Plotly | PowerBi</li>
				<li>Bases de Datos:</li>
				<ul>
					<li>SQL: MySQL, MariaDB</li>
					<li>NoSQL: MongoDB, DynamoDB</li>
				</ul>
				<li>Idiomas: Inglés Básico | Portugués Básico</li>
			</ul>
		</section>

		{/* Proyectos */}
		<section id="projects">
			<h2>Proyectos</h2>
			<div class="project">
				<a href="https://github.com/DevBauti/petro">
					<h3>Petro &rarr;</h3>
				</a>
				<p>
					Este análisis explora los datos desde el 2020 de la producción
					de pozos petroleros en Argentina.
					Fue realizado en Pandas y Plotly.
				</p>
			</div>
			<div class="project">
				<a href="https://github.com/DevBauti/reco">
					<h3>Reco: Sistema de recomendacion &rarr;</h3>
				</a>
				<p>
					Sistema de recomendaciones de productos basado
					en TF.IDF y Similitud de Coseno. 
				</p>
			</div>
			<div class="project">
				<a href="https://github.com/DevBauti/CoffeeShop">
					<h3>Coffee Shop Analysis&rarr;</h3>
				</a>
				<p>
					Análisis de ventas, categorías y productos más vendidos
					usando Pandas y Matplotlib.
				</p>
			</div>
			<div class="project">
				<a href="https://github.com/DevBauti/sleep_healthy_analysis">
					<h3>Sleep Healthy Analysis &rarr;</h3>
				</a>
				<p>
					Análisis de la calidad del sueño en adultos usando Pandas y
					Matplotlib.
				</p>
			</div>
			<div class="project">
				<a href="https://github.com/DevBauti/auto-form">
					<h3>Auto Form &rarr;</h3>
				</a>
				<p>Automatización de formularios usando Pandas y Selenium.</p>
			</div>
			<div class="project">
				<a href="https://github.com/DevBauti/crudEcho">
					<h3>Crud Simple Echo/Go &rarr;</h3>
				</a>
				<p>
					CRUD simple con Go y el framework Echo, conectando a
					MongoDB.
				</p>
			</div>
		</section>
	</main>

	{/* Pie de página */}
	<footer>
		<h3>Contacto</h3>
		<p>
			Puedes encontrarme en <a
				href="https://github.com/DevBauti"
				target="_blank"
				rel="noopener noreferrer">Github</a>
		</p>
	</footer>
</Layout>
