---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bautista Suarez">
	<main>
		{/* titulo */}
		<h1>Bautista Suarez</h1>
		<p>Backend, Data Analyst de 26 años</p>

		{/* conocimientos || habilidades */}
		<div>
			<h2>Skills</h2>
			<ul>

				<li>Golang | Python | Typescript</li>
				<li>Pandas | Matplotlib | PowerBi</li>
				<li>DB: </li>
				<li>Sql: MySQL, MariaDB</li>
				<li>NoSQL: MongoDB, DynamoDB</li>

				<li>Idiomas: Ingles Basico | Portugues Basico</li>
				
			</ul>
		</div>

		{/* proyectos */}
		<div>
			<div>
				<a href="https://github.com/DevBauti/CoffeeShop">
					<h2>Coffe shop Analysis&rarr;</h2>
				</a>
				<p>
					Analicé las ventas, categorías y productos más vendidos. Use Pandas y Matplotlib 
				</p>
			</div>
			<div>
				<a href="https://github.com/DevBauti/sleep_healthy_analysis">
					<h2>Sleep Healthy Analysis &rarr;</h2>
				</a>
				<p>
					Es un pequeño análisis de la calidad/salud del sueño en un grupo de adultos/adultos mayores. Use principalmente Pandas y Matplotlib
				</p>
			</div>
			
			<div>
				<a href="https://github.com/DevBauti/Books">
					<h2>Books Analysis &rarr;</h2>
				</a>
				<p>
					Analicé la evolución de los títulos per cápita a través del tiempo en diferentes países.  Use principalmente Pandas y Matplotlib
				</p>
			</div>
			<div>
				<a href="https://github.com/DevBauti/auto-form">
					<h2>Auto Form &rarr;</h2>
				</a>
				<p>
					Necesitaba cargar de manera automática unos formularios. En este repositorio se encuentra un ejemplo de lo que hice. Use Pandas y Selenium.
				</p>
			</div>
			<div>
				<a href="https://github.com/DevBauti/crudEcho">
					<h2>Crud Simple Echo/Go &rarr;</h2>
				</a>
				<p>Este es un crud simple realizado en Go con el framework web Echo, con conexion a la base de datos noSQL mongoDB</p>
			</div>
		</div>
	</main>
	<footer>
		<h3>
			<a
				href="https://github.com/DevBauti"
				target="_blank"
				rel="noopener noreferrer"
			>
				Github
			</a>
		</h3>
	</footer>
</Layout>

<style>
	main {
		padding: 6rem 4rem 2rem 4rem;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	a {
		color: #9c9c9c;
		text-decoration: none;
		transition: .1s;
	}
	a:hover{
		color: #d2d2d2;
	}
	
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	footer {
		display: flex;
		flex: 1;
		padding: 2rem 0;
		border-top: 1px solid #111;
		justify-content: center;
		align-items: center;
	}
</style>
