---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<style is:global>
			html,
			body {
				font-family: "Roboto", sans-serif;
				background-color: #1c1c1c;
				color: #e0e0e0;
				margin: 0;
				padding: 0;
			}
			body {
				display: flex;
				justify-content: center;
				align-items: left;
				min-height: 100vh;
				padding: 20px;
			}
			main {
				background-color: #333;
				padding: 40px;
				border-radius: 10px;
				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
			}
			a {
				color: #f5f5f5;
				text-decoration: none;
			}

			a:visited {
				color: #f5f5f5;
			}

			a:hover {
				text-decoration: underline;
			}
		</style>
	</body>
</html>
